.header_container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
}

head {
    display: flex;
    
}

.logo {
    font-size: 28px;
    font-weight: bold;
}
.gnb {
    display: flex;
}

.gnb li {
    display: block;
    padding: 30px;
    font-weight: bold;
}

.gnb li.active {
    color: tomato;
}

button {
    padding: 10px 16px;
}